:root {
  --bs-primary: #ff82a0;   
  --bs-secondary: #6c757d; 
  --bs-accent: #ffd166;    
  --bs-body-bg: #fff8fb;   

  --bs-success: #81c995;   
  --bs-danger: #ff4d6d;    
}

.navbar .nav-link:hover {
    color: #ff4d6d;
}

body {
    font-family: 'K2D', sans-serif;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 576px) {
  .marquee {
    animation-duration: 15s; /* ช้าลงหน่อย */
    font-size: 0.9rem;
  }
}

.feature-card img {
    max-height: 200px;
    object-fit: cover;
}

footer {
  background: #f8f9fa;
  color: #444;
  font-size: 0.9rem;
}